# UWAGA: 
**Każde zadanie powinno być rozwiązane w osobnych komórkach notebooka.
Wstaw odpowiednie komentarze i wyjaśnienia do kodu.**

## Zadanie 1: Sprawdzenie brakujących wartości
1. Policz liczbę brakujących wartości w każdej kolumnie i wyświetl je.
2. Usuń wiersze, w których brakuje więcej niż 3 wartości.
3. Wypełnij brakujące wartości w kolumnie "Age" medianą dla danej klasy "Pclass".

## Zadanie 2: Grupowanie i agregacja
1. Policz średni wiek pasażerów w każdej klasie "Pclass".
2. Oblicz maksymalną i minimalną cenę biletu dla każdej klasy.
3. Policz średni współczynnik przeżywalności dla każdej kombinacji "Pclass" i "Sex".

## Zadanie 3: Różne rodzaje agregacji
1. Dla każdej klasy "Pclass" oblicz: średnią, medianę, min, max oraz odchylenie standardowe wieku "Age".
2. Dla każdej płci "Sex" oblicz sumę i średnią ceny biletu "Fare" oraz liczbę pasażerów.

## Zadanie 4: Sortowanie danych
1. Posortuj dane malejąco według ceny biletu "Fare" i wyświetl top 10 pasażerów.
2. Posortuj dane według "Pclass" (rosnąco) i "Age" (malejąco) i wyświetl pierwsze 10 wierszy.

In [2]:
import pandas as pd
import numpy as np

# Wczytanie danych Titanic
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
display(df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
# Policz liczbę brakujących wartości w każdej kolumnie i wyświetl je.
# Usuń wiersze, w których brakuje więcej niż 3 wartości.
# Wypełnij brakujące wartości w kolumnie "Age" medianą dla danej klasy "Pclass".

df.info() # informacje
df.describe() # opis
display(df.isna().any()) # Bool czy są puste

# 1. Policz liczbę brakujących wartości w każdej kolumnie i wyświetl je.
print(df.isna().sum())
# 2. Usuń wiersze, w których brakuje więcej niż 3 wartości.
df_bez_pustych = df.dropna(thresh=len(df.columns) - 3)
print(df_bez_pustych)
# 3. Wypełnij brakujące wartości w kolumnie "Age" medianą dla danej klasy "Pclass".
median_ages = df.groupby('Pclass')['Age'].median() #mediana 
def fill_age(row):
    if pd.isnull(row['Age']):
        return median_ages[row['Pclass']]
    else:
        return row['Age']
df['Age'] = df.apply(fill_age, axis=1)
print(df['Age'].isnull().sum()) #czy działa

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
0

In [4]:
#Policz średni wiek pasażerów w każdej klasie "Pclass".
#Oblicz maksymalną i minimalną cenę biletu dla każdej klasy.
#Policz średni współczynnik przeżywalności dla każdej kombinacji "Pclass" i "Sex".

sredni_wiek = df.groupby('Pclass')['Age'].mean()
print(sredni_wiek)

max_min_dlaklasy = df.groupby('Pclass')['Fare'].agg(['max', 'min'])
print(max_min_dlaklasy)

przeżywalnosc_dlaklasy = df.groupby(['Pclass', 'Sex'])['Survived'].mean()
print(przeżywalnosc_dlaklasy)

Pclass
1    38.062130
2    29.825163
3    24.824684
Name: Age, dtype: float64
             max  min
Pclass
1       512.3292  0.0
2        73.5000  0.0
3        69.5500  0.0
Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

In [5]:
# Dla każdej klasy "Pclass" oblicz: średnią, medianę, min, max oraz odchylenie standardowe wieku "Age".

wiek = df.groupby('Pclass')['Age'].agg(['mean', 'median', 'min', 'max', 'std'])
print(wiek)

# Dla każdej płci "Sex" oblicz sumę i średnią ceny biletu "Fare" oraz liczbę pasażerów.

bilet = df.groupby('Sex').agg(
    total_fare=('Fare', 'sum'),
    average_fare=('Fare', 'mean'),
    passenger_count=('Fare', 'count')
)
print(bilet)

             mean  median   min   max        std
Pclass
1       38.062130    37.0  0.92  80.0  13.737970
2       29.825163    29.0  0.67  70.0  13.575362
3       24.824684    24.0  0.42  74.0  10.632997
        total_fare  average_fare  passenger_count
Sex
female  13966.6628     44.479818              314
male    14727.2865     25.523893              577

In [6]:
#Posortuj dane malejąco według ceny biletu "Fare" i wyświetl top 10 pasażerów.

top_10_pasazerow = df.sort_values(by='Fare', ascending=False).head(10)
print(top_10_pasazerow)


#Posortuj dane według "Pclass" (rosnąco) i "Age" (malejąco) i wyświetl pierwsze 10 wierszy.
pasazerowie = df.sort_values(by=['Pclass', 'Age'], ascending=[True, False]).head(10)
print(pasazerowie)

     PassengerId  Survived  Pclass                                   Name  \
258          259         1       1                       Ward, Miss. Anna
737          738         1       1                 Lesurer, Mr. Gustave J
679          680         1       1     Cardeza, Mr. Thomas Drake Martinez
88            89         1       1             Fortune, Miss. Mabel Helen
27            28         0       1         Fortune, Mr. Charles Alexander
341          342         1       1         Fortune, Miss. Alice Elizabeth
438          439         0       1                      Fortune, Mr. Mark
311          312         1       1             Ryerson, Miss. Emily Borie
742          743         1       1  Ryerson, Miss. Susan Parker "Suzette"
118          119         0       1               Baxter, Mr. Quigg Edmond

        Sex   Age  SibSp  Parch    Ticket      Fare            Cabin Embarked
258  female  35.0      0      0  PC 17755  512.3292              NaN        C
737    male  35.0      0      0  PC 17755  512.3292             B101        C
679    male  36.0      0      1  PC 17755  512.3292      B51 B53 B55        C
88   female  23.0      3      2     19950  263.0000      C23 C25 C27        S
27     male  19.0      3      2     19950  263.0000      C23 C25 C27        S
341  female  24.0      3      2     19950  263.0000      C23 C25 C27        S
438    male  64.0      1      4     19950  263.0000      C23 C25 C27        S
311  female  18.0      2      2  PC 17608  262.3750  B57 B59 B63 B66        C
742  female  21.0      2      2  PC 17608  262.3750  B57 B59 B63 B66        C
118    male  24.0      0      1  PC 17558  247.5208          B58 B60        C
     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
96            97         0       1             Goldschmidt, Mr. George B
493          494         0       1               Artagaveytia, Mr. Ramon
745          746         0       1          Crosby, Capt. Edward Gifford
54            55         0       1        Ostby, Mr. Engelhart Cornelius
456          457         0       1             Millet, Mr. Francis Davis
438          439         0       1                     Fortune, Mr. Mark
545          546         0       1          Nicholson, Mr. Arthur Ernest
275          276         1       1     Andrews, Miss. Kornelia Theodosia
252          253         0       1             Stead, Mr. William Thomas

        Sex   Age  SibSp  Parch     Ticket      Fare        Cabin Embarked
630    male  80.0      0      0      27042   30.0000          A23        S
96     male  71.0      0      0   PC 17754   34.6542           A5        C
493    male  71.0      0      0   PC 17609   49.5042          NaN        C
745    male  70.0      1      1  WE/P 5735   71.0000          B22        S
54     male  65.0      0      1     113509   61.9792          B30        C
456    male  65.0      0      0      13509   26.5500          E38        S
438    male  64.0      1      4      19950  263.0000  C23 C25 C27        S
545    male  64.0      0      0        693   26.0000          NaN        S
275  female  63.0      1      0      13502   77.9583           D7        S
252    male  62.0      0      0     113514   26.5500          C87        S